@model To_Do.ViewModels.Job.UpdateJobVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="offset-md-1 col-md-10 col-lg-10">
    <div class="offset-md-1 col-md-10" style="margin-top: 5rem;">
        <div class="row">
            <div class="col-md-12 row create-panel">
                <div class="header-text">
                    Edytujesz zadanie
                </div>
                <form asp-action="Update" class="row">
                    <input hidden asp-for="Id" />
                    <input hidden asp-for="ScheduleId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-5">
                        <input asp-for="Name" class="form-control" placeholder="Nazwa zadania" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(m => m.CategoryId, Model.Categories, new { @class = "form-control" })
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <input type="submit" value="Edytuj" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }