@using To_Do.ViewModels.Category
@model IEnumerable<To_Do.ViewModels.Category.CategoryVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="offset-md-1 col-md-10 col-lg-10">
    <div class="offset-md-1 col-md-10" style="margin-top: 5rem;">
        @{
            Html.RenderPartial("Create", new CreateCategoryVM());
        }
        <div class="row" style="margin-right: 15px;">
            <table class="table table-bordered" style="margin-top: 1rem;">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td style="text-align: center;">@category.Name</td>
                            <td style="text-align: center;">
                                @Html.ActionLink("Edytuj","Update","Category",new { categoryId = category.Id },new { @class = "btn btn-primary", @type = "button"})
                                @Html.ActionLink("Usuń","Delete","Category",new { categoryId = category.Id },new { @class = "btn btn-danger", @type = "button"})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
