@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @Html.ActionLink("Twoje listy zadań","Index","Schedule", null ,new { @class = "btn btn-danger", @type = "button"})
    @Html.ActionLink("Kategorie","Index","Category", null ,new { @class = "btn btn-danger", @type = "button"})
</div>

